bin/*
static/*
.idea
.DS_Store

.cache
.vite
.pnpm-store

device-tests.tar.gz
node_modules

# generated during the build process
#internal/native/include
#internal/native/lib

ui/reports

# compiled remote-agent test binary
e2e/remote-agent/remote-agent
internal/tunnel/dist/cloudflared
internal/tunnel/dist/cloudflared.commit
